body {
    width: 80%;
    margin: auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
table {
    margin: auto;
    width: 50%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 7px;
}
table > caption {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 2%;
    color: #a52a2a;
}
th {
    background-color: #641616;
    color: white;
    font-size: large;
}
tr:hover {
    background-color: #cecececf;
}
#skip {
    opacity: 0;
    pointer-events: none;
    margin-left: 10px;
}
#skip:focus {
    opacity: 100%;
    pointer-events: all;
}
#mainNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a52a2a;
    height: 7vh;
    overflow: hidden;
}
#mainNav a {
    height: fit-content;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    font-size: large;
    text-decoration: none;
}
#mainNav a:hover, #mainNav a:focus {
    background-color: #641616;
    text-decoration: underline;
}
#logo {
    width: 23%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
#logoImage {
    width: 25%;
    height: 25%;
}
.parDivs {
    padding: 1%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    border-radius: 10px;
    background-color: #e6e6e6cf;
}
