* {
    font-family: 'Courier New', Courier, monospace;
}
#body {
    background-image: linear-gradient(rgb(69, 141, 95), rgb(35, 71, 48));
    margin-top: 0px;
    margin-bottom: 0px;
}
#header {
    margin: 0px;
    position: absolute;
    color: white;
}
#main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

}
#promptBox {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px;
    min-width: fit-content;
    min-height: fit-content;
    width: 40vw;
    height: 30vh;
    margin: auto;
    background-color: white;
}
#promptText, #dialogText {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
}
#dialogBox {
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
#dialogBox::backdrop {
    background-color: rgba(1, 1, 1, 0.534);
}
#closeDialog {
    background-color: white;
    border: none;
    margin-left: 95%;
}
.pointerButton {
    cursor: pointer;
}
.fa-x {
    font-size: xx-large;
    position: relative;
}
#buttonContainer {
    display: flex;
    justify-content: space-evenly;
}
.answerButton {
    margin: 2%;
    width: 20%;
    font-size: xx-large;
}
