* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(188, 188, 188);
    margin-top: 0px;
    margin-bottom: 0px;
}
header {
    margin: 0px;
    position: absolute;
}
main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

}
#dialogueBox {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px;
    width: 40vw;
    height: 30vh;
    margin: auto;
    background-color: white;
}
#buttonContainer {
    display: flex;
    justify-content: space-evenly;
}
#dialogueBox * {
    font-size: xx-large;
    text-align: center;
}
.answerButton {
    width: 20%;
}
