body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #ebf0f8;
}
#wrapper {
    background-color:#fff;
    width: 80vw;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}
h1 {
    font-family: "Baskervville SC", serif;
    padding-top: 3vh;
    margin: 0;
}
h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    padding: 10px;
    margin-bottom: 0px;
}
#logo {
    width: 100%;
    height: 20vh;
    background-image: url(lace.jpg);
}
#logoWords {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    height: 20vh;
    background-color: white;
    width: 70vw;
    margin: auto;
    -webkit-clip-path: polygon(0 50%, 28px 0, calc(100% - 28px) 0, 100% 50%, calc(100% - 28px) 100%, 28px 100%);
    clip-path: polygon(0 50%, 28px 0, calc(100% - 28px) 0, 100% 50%, calc(100% - 28px) 100%, 28px 100%);
}
#skip {
    display: block;
    text-indent: -10000px;
    height: 0px;
    padding: 0px;
    pointer-events: none;
}
#skip:focus {
    text-indent: 0px;
    height: 20px;
    padding: 10px;
    pointer-events: all;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6690d0;
}
nav a {
    color: white;
    flex: 1;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a:hover, nav a:focus {
    background-color: #29456f;
    text-decoration: none;
}
#content img {
    margin-right: 10px;
    height: auto;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
}
form input {
    margin-bottom: 3vh;
}
#submit {
    background-color: #6690d0;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 5vh;
    min-height: fit-content;
    min-width: fit-content;
}
#submit:hover, #submit:focus {
    background-color: #29456f;
}
.required::before {
    content: "* ";
    color: red;
}
#left {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
    gap: 10px;
    float: left;
    min-height: fit-content;
}
#right {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
#hours {
    text-align: center;
    background-color: #6e9add33;
    border-radius: 10px;
    min-width: fit-content;
}
#planning {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    margin-top: 5vh;
}
form input {
    width: 20%;
}
table {
    width: 20vw;
}
td {
    text-align: center;
}
#content h2 {
    clear: both;
}
footer {
    text-align: center;
    background-color: #6690d0;
    height: 10vh;
    clear: both;
}
footer p {
    line-height: 10vh;
}
#logo {
    position: relative;
    overflow: hidden;
}
