#body {
    background-image: url("desk.jpg");
    background-size: cover;
    margin: 0px;
}
#header {
    color: white;
    text-shadow: 2px 2px 5px black, 2px 2px 5px black;
    position: absolute;
    margin-left: 2vw;
}
#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: end;
}
#examPaper {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 4px;
    min-height: 90vh;
    height: fit-content;
    width: 43vw;
    margin-right: 5vw;
    justify-content: space-evenly;
}
#examContent {
    display: flex;
    flex-direction: row;
}
#examHeader {
    align-self: center;
    height: 5%;
}
#questionColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
#gradingColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.correctness {
    height: 25%;
    text-align: center;
    margin: 2.5%;
}
.legend {
    font-weight: bold;
}
.fieldset {
    border: 0;
    height: 25%;
    margin: 2.5%;
    overflow: hidden;
}
@media only screen and (max-width: 950px)
{
    #header {
        position: relative;
    }
    #examPaper
    {
        width: 90vw;
        padding-bottom: 3vh;
    }
}
