body {
    background-color: aliceblue;
    height: 100%;
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}
h2 {
    margin-top: 0px;
}
#forecast, #car {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}
#tempAdjust, #speedAdjust {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#temp > *, #speed * {
    padding: 0px;
    margin: 0px;
}
#temp, #speed {
    display: flex;
    flex-direction: row;
}
p {
    font-size: 4vw;
}
.fa-temperature-high {
    font-size: 6vw;
    width: fit-content;
}
.fa-sun {
    font-size: 4vw;
    float: right;
    margin-right:8vw;
}
#roadLines {
    position: absolute;
    border-top: 1vh solid black;
    border-bottom: 1vh solid black;
    bottom: 0;
    width: 100%;
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
}
#car {
    border-bottom: .5vh dashed black;
    display: flex;
    flex-direction: row;
}
.fa-car-side {
    font-size: 10vw;
    margin-left: 30vw;
}
.fa-gauge-high {
    font-size: 5vw;
    margin-left: 3vw;
}
