h1 {
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    height: fit-content;
}
pre {
    font-size: .8vw;
}
#contConvo {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: lightgreen;
    left: 0;
    right: 0;
    margin: auto;
}
#contConvo:hover {
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: medium;
        text-align: center;
    }
    h2 {
        font-size: small;
        text-align: center;
    }
    pre {
        font-size: 1vw;
    }
    #contConvo {
        font-size: x-small;
        height: 4vh;
        width: 12vw;
    }
}
