.frog1 {
    position: absolute;
    right: 10%;
    top: 0;
}
#contConvo {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: lightgreen;
    bottom: 0;
    left: 50%;
}
#contConvo:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 900px) {
    pre {
        font-size: 5px;
    }
    .frog1 {
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
